# python packages
__pycache__

#vsCode 
.vscode

#Git Internal files
.git

#bash file
tico

#Text file
things_to_add.txt
test*


# Build Stuff
# infos.txt
Tico.iss
TicoSetup.iss
main.spec
build 
dist

#previous Build
prevBuild